.community_settings-content {
    background-color: var(--scheduleBg);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    margin-left: 10px;
    box-sizing: border-box;
    width: 300px;
}
.community_settings-overlay{
    width: 300px;
}
.community_settings-arrow {
    color: var(--scheduleBg);
    stroke: var(--scheduleBg);
}
.circle-picker{
    width: fit-content!important;
}
[role=tooltip].community_settings-content{
    width: 300px;
}