.photos-dots{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.photos-dot{
    border: none;
    width: 10px;
    height: 10px;
    background-color: var(--grey);
    border-radius: 50%;
}

.photos-dot:active{
    background-color: var(--scheduleBg);
}