.title{
    color: var(--text);
    font-size: 2em;
    font-weight: 600;
}
.activity_container__gallery{
    margin-top: 1em;
    width: 100%;
}
.gallery__carousel_container{
    margin-top: 1em;
    width: 100%;
}