.main_content{
    &__requests_section{
        margin-top: 1em;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap:10px;
        @media (max-width:800px) {
            align-items: center;
        }
    }
}
.requests_section{
    &__requests_container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        @media (max-width:800px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.requests_container{
    &_request{
        background-color: var(--scheduleBg);
        max-width: 500px;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
        @media (max-width:1200px) {
            max-width: 400px;
        }
    }
}

.request{
    &__top{
        color: var(--text);
        font-size: 1em;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 10px;
        @media (max-width:600px) {
            font-size: 0.9em;
        }
    }
    &__buttons_container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        button{
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            font-size: 1em;
            font-weight: 600;
            color: var(--text);
            border: none;
            outline: none;
            width: 140px;
            box-sizing: border-box;
            @media (max-width:600px) {
                padding: 5px;
                font-size: 0.9em;
            }
        }
        .approve_button{
            background-color: var(--reallyBlue);
        }
        .reject_button{
            background-color: var(--red);
        }
    }
}

.top{
    &__image_box{
        width: 100px;
        height: 100px;
        max-width: 150px;
        max-height: 150px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--grey);
        user-select: none;
        color: var(--text);
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
    &__info_box{
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.info_box{
    &__name{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5px;
        font-weight: 600;
    }
    &__date{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5px;
        color: var(--grey);
    }
}