.thinking_container{
    flex:1;
    background-color: var(--theme);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    &__emoji{
        margin-bottom: 1em;
        color:var(--text);
        img{
            min-width: 100px;
            height: 100px;
        }
    }
    &__text{
        margin-bottom: 1em;
        color:var(--text);
        font-weight: 600;
        font-size: 1.5em;
    }
}