.profile_page_container{
    flex:1;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    background: var(--theme);
    padding: 10px 10%;
}

.link{
    cursor: pointer;
    color: var(--blue);
    font-size: 0.9em;
    text-decoration: none;
}

.title{
    color: var(--text);
    font-size: 2em;
    font-weight: 600;
}

.subtitle{
    color: var(--text);
    font-size: 1em;
    font-weight: 600;
}

.status_active{
    padding: 5px 10px;
    background-color: green;
}

.status_non_active{
    padding: 5px 10px;
    background-color: var(--grey);
}