@import "../../SCSSKit/index.scss";

.profile_page_container{
    @extend %section_style;
}

.link{
    @extend %link;
}

.title{
    @extend %title;
}

.subtitle{
    @extend %subtitle;
}

.subtitle_min{
    @extend %subtitle_min;
}

.status_active{
    @extend %status_active;
}

.status_non_active{
    @extend %status_non_active;
}

.button{
    @extend %button_default;
    display: flex;
    align-items: center;
    gap: 15px;
    img{
        filter: invert(1);
    }
}