.community_page_container{
    flex:1;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    background: var(--theme);
    padding:0 0 0 10%;
    display: flex;
    justify-content: space-between;
}
.community_page_container__main_content{
    margin-top: 10px;
}
.community_page_container__aside_content{
    --asidePadding: 10px;
    position: absolute;
    top:0;
    right: 0;
    height: calc(100% - (var(--asidePadding) * 2));
    padding:var(--asidePadding) 10% var(--asidePadding) 5%;
    background-color: #434343;
    max-width: 300px;
}

.community_page_container__heading{
    display: flex;
    flex-direction: column;
    gap:1em; 
}
.heading__info{
    display: flex;
    flex-direction: column;
    gap:1em; 
}
.title{
    color: var(--text);
    font-size: 2em;
    font-weight: 600;
}

.subtitle{
    color: var(--text);
    font-size: 1.5em;
    font-weight: 600;
}

.services__container{
    display: flex;
    align-items: center;
    gap: 10px;
}