.community_page_container{
    &__heading{
        display: flex;
        flex-direction: column;
        gap:1em;
        @media(max-width:800px) {
            align-items: center;
        }
    }
}
.heading{
    &__info{
        display: flex;
        flex-direction: column;
        gap:1em;
        @media(max-width:800px) {
            align-items: center;
        }
    }
}

.services{
    &__container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow-y: hidden;
        overflow-x: hidden;
        gap: 10px;
        @media(max-width:1000px) {
            flex-wrap: nowrap;
            overflow-y: hidden;
            overflow-x: visible;
        }
        a{
            min-width: 125px;
        }
    }
}