%profile_min_title{
    margin-top: 5px;
    bottom: -5px;
    font-size: 0.65em;
    width: 100%;
    text-align: center;
}
%profile_min_svg{
    width: 100%;
    height: 22px;
    text-align: center;
}

.header{
    box-sizing: border-box;
    position: relative;
    background: var(--schedule);
    box-shadow: var(--very-mild-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    padding: 10px 10%;
    @media (max-width:800px) {
        height: 60px;
        padding: 0 10px;
        align-items: flex-start;
        position: fixed;
        bottom: 0;
        z-index: 5;
        width: 100%;
    }
    &__logo_container{
        flex:1;
    }
    &__search_container{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        @media (max-width:800px) {
            flex:auto;
        }
    }
    &__profile_container{
        box-sizing: border-box;
        flex:1;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }

}
.logo_container{
    &__logo{
        width: 100%;
        @media (max-width:800px) {
            display: none;
            visibility: 0;
            opacity: 0;
        }
    }
}
.mospolytech_logo{
    width: 70%;
    object-fit: contain;
}

.profile_container{
    &__profile{
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width:800px) {
            display: none;
            visibility: 0;
            opacity: 0;
        }
    }
    &__profile:hover{
        transition-property:all;
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.app_icon{
    display: none;
    visibility: 0;
    opacity: 0;
    @media (max-width:800px) {
        visibility: 1;
        opacity: 1;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-weight: 600;
        width: 100%;
        padding: 10px 0px;
        margin: 5px 0px;
        cursor: pointer;
        position: relative;
        user-select: none;
        flex-wrap: wrap;
        text-decoration: none;
        border-radius: var(--brLight);
        color: var(--text);
    }
    svg{
        @extend %profile_min_svg;
    }
    p{
        @extend %profile_min_title;
    }
}

.image_filler{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #EE9E44;
    border-radius: 100%;
    p{
        color: #F0F0F0;
        font-weight: 600;
    }
}

.title{
    text-decoration: none;
    margin-top: 1em;
    color:var(--text);
    font-size: 1em;
    font-weight: 600;
}

.profile_active{
    box-sizing: border-box;
    outline: 4px solid var(--reallyBlue);
    border: 5px solid var(--schedule);
}

.search_container{
    &__search_form{
        height: 100%;
        box-sizing: border-box;
        gap: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.search_form{
    &__title{
        font-size: 1em;
        font-weight: 600;
        color: var(--grey);
        @media (max-width:800px) {
            display: none;
            visibility: 0;
            opacity: 0;
        }
    }
    &__input_container{
        border: 3px solid transparent;
        box-sizing: border-box;
        border-radius: 7px;
        padding: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: var(--search);
        width: 100%;
    }

}

.active_search{
    box-sizing: border-box;
    border: 3px solid var(--almostTransparentOpposite);
}

.input_container{
    &__input{
        box-sizing: border-box;
        width: 100%;
    }
    &__submit{
        box-sizing: border-box;
        margin-right: 5px;
    }
}

.error_title{
    box-sizing: border-box;
    color: var(--red);
}

.input{
    &__field{
        box-sizing: border-box;
        color:var(--text);
        font-weight: 600;
        outline: none;
        border: none;
        background-color: var(--search);
        width: 100%;
    }
    &__field::placeholder{
        box-sizing: border-box;
        font-size: 1em;
        color:var(--grey) ;
    }
}
