.profile_page_container__admin_section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin_section__requests{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.requests__request_container{
    max-width:500px;
    width: 500px;
    padding: 10px;
    display: flex;
    gap:10px;
    flex-direction: column;
    border-radius: 9px;
    background-color: var(--scheduleBg);
}

.request_container__type{
    color: var(--grey);
    font-size: 1em;
    font-weight: 600;
}

.request_container__date{
    color: var(--grey);
    font-size: 1em;
}

.event_container__event__more_button{
    cursor: pointer;
    text-align: center;
    color: var(--text);
    background-color: var(--reallyBlue);
    border-radius: 9px;
    padding: 10px;
    font-weight: 600;
}