.profile_page_container__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.nav__nav_wrapper{
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
}
.nav_selected{
    background-color: var(--mild-theme);
}
.nav_wrapper__title_box{
    white-space: nowrap;
    color: var(--text);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    width: 100%;
}