.not_found_container{
    flex:1;
    background-color: var(--theme);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.not_found_container__emoji{
    margin-bottom: 1em;
    color:var(--text);
}
.not_found_container__emoji img{
    min-width: 100px;
    height: 100px;
}
.not_found_container__text{
    margin-bottom: 1em;
    color:var(--text);
    font-weight: 600;
    font-size: 1.5em;
}
.not_found_container__link{
    margin-top: 1em;
    width: 300px;
    height: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--purple);
    text-decoration: none;
}
.link__text{
    color:var(--text);
    font-weight: 600;
    font-size: 1em;
}